#!/usr/bin/env bash

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ll='ls -l'
alias la='ls -la'
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias duchs='du -chs'
alias ducks='du -cks'
alias less='less -RN'
alias tmux='tmux -u -2'
command -v rlwrap &>/dev/null && alias ocaml='rlwrap ocaml'
command -v rlwrap &>/dev/null && alias q='rlwrap q'

[[ $(uname -s) != Darwin ]] && alias ls='ls --color=auto'
[[ $(uname -s) != Darwin ]] && alias ll='ls -l --color=auto'
[[ $(uname -s) != Darwin ]] && alias la='ls -la --color=auto'
