#!/usr/bin/env bash

os=$(uname -s)

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ll='ls -l'
alias la='ls -la'
[[ $os != SunOS ]] && alias grep='grep --color=auto'
[[ $os != SunOS ]] && alias egrep='egrep --color=auto'
[[ $os != SunOS ]] && alias fgrep='fgrep --color=auto'
alias duchs='du -chs'
alias ducks='du -cks'
alias less='less -RN'
alias tmux='tmux -u -2'
command -v rlwrap &>/dev/null && alias ocaml='rlwrap ocaml'
command -v rlwrap &>/dev/null && alias q='rlwrap q'

[[ $os != Darwin ]] && alias ls='ls --color=auto'
[[ $os != Darwin ]] && alias ll='ls -l --color=auto'
[[ $os != Darwin ]] && alias la='ls -la --color=auto'

if [[ $os = Linux ]]; then
  alias docker-rm='docker ps -a -q --filter status=exited | xargs --no-run-if-empty docker rm'
  alias docker-rmi="docker images | grep '^<none>' | awk '{print $3}' | xargs --no-run-if-empty docker rm"
elif [[ $os = Darwin ]]; then
  alias docker-rm='docker rm -f $(docker ps -a -q --filter status=exited) 2>/dev/null'
  alias docker-rmi="docker rmi -f \$(docker images | grep '^<none>' | awk '{print $3}') 2>/dev/null"
fi

unset os
