[user]
        name = Hongchang Wu
        email = wuhc85@gmail.com
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
        ui = auto
[push]
        default = current
[mergetool]
        keepBackup = false
