[user]
	name = Hongchang Wu
	email = wuhc85@gmail.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[push]
	default = current
[mergetool]
	keepBackup = false
[alias]
	co = checkout
	cob = checkout -b
	a = add
	aa = add -A
	au = add -u
	c = commit -m
	ca = !git add -A && git commit -m
	cu = !git add -u && git commit -m
	wip = commit -am "WIP"
	undo = reset --mixed HEAD~
	amend = commit -a --amend --no-edit
	reword = commit --amend
	wipe = !git add -A && git commit -qm "WIPE SAVEPOINT" && git reset --hard HEAD~
	l = log --oneline --decorate HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit HEAD
	lu = !git lg -u HEAD
	last = show --name-only --oneline HEAD
	st = status --short
	ls = ls-files
	sync-merge = !git fetch upstream master && git merge FETCH_HEAD
	sync-rebase = !git fetch upstream master && git rebase FETCH_HEAD
	review = diff --cached
